---
title: Modèles
layout: default
---
<header>
  <h1>Modèles</h1>
</header>

<div class="row">
{% for model in site.data.models %}
  <div class="col-md-4">
    <h2 class="mt-5">
      <span class="badge float-right">{{ model.year }}</span>
      <a href="/models/{{model.slug}}">{{ model.title }}</a>
    </h2>
    <p>{{ model.description }}</p>
    <p class="small">Source: {{ model.source }}</p>
    <div class="bg-light p-2">
      {% include model/adequation.html model=model %}
    </div>
  </div>
{% endfor %}
</div>
