{% assign slug = include.model.slug %}
{% assign variables = include.model.variables | size %}
{% assign points = 0 %}
{% for verbatim in site.data.verbatims %}
  {% assign values = verbatim.models[.slug] | split: ' ' %}
  {% for value in values %}
    {% if value == '1' %}
      {% assign points = points | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign adequation = points | times: 1.0 | divided_by: variables %}

<div>
  <p class="badge badge-primary text-uppercase mb-2">
    Adéquation {{ points }} • {{ adequation }}
  </p>
  <p class="small">
    {{ points }} présences / {{ variables }} variables = {{ adequation }} présences / variable
  </p>
</div>
