{% assign slug = include.model.slug %}
{% assign variables = include.model.variables | size %}
{% assign points = 0 %}
{% for verbatim in site.data.verbatims %}
  {% assign values = verbatim.models[.slug] | split: ' ' %}
  {% for value in values %}
    {% if value != '0' %}
      {% assign points = points | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign adequation = points | divided_by: variables %}

<div>
  <span class="badge badge-primary text-uppercase">Adéquation {{ adequation }}</span>
  <p class="small">
    {{ points }} points / {{ variables }} variables
  </p>
</div>
