<div class="small text-center mt-1">
  <a class="btn btn-sm" data-toggle="collapse" href="#details-{{include.id}}" role="button" aria-expanded="false" aria-controls="details-{{include.id}}">
    Afficher les détails
  </a>
</div>
<div id="details-{{include.id}}" class="collapse">
  <hr>
  {% for variable in include.variables %}
    {% assign value = include.values[forloop.index0] %}
    {% if value == '0' %}
      <del class="text-muted">
    {% else %}
      <b>
    {% endif %}
    {{ variable.short }}
    {% if value == '0' %}
      </del>
    {% else %}
      </b>
    {% endif %}
    <p class="small">{{ variable.long }}</p>
    <hr>
  {% endfor %}
</div>
