{% assign verbatim = include.verbatim %}
{% assign slug = verbatim.slug %}
{% assign adequation = 0 %}
{% assign labels = site.data.models | map: 'title' %}
{% assign values = '' | split: ',' %}
{% for model in site.data.models %}
  {% assign total_for_model = model.variables | size %}
  {% assign values_for_model = verbatim.models[model.slug] | split: ' ' %}
  {% assign sum_for_model = 0 %}
  {% for value in values_for_model %}
    {% assign sum_for_model = sum_for_model | plus: value %}
  {% endfor %}
  {% assign adequation_for_model = sum_for_model | times: 1.0  | divided_by: total_for_model %}
  {% assign values = values | push: adequation_for_model %}
  {% assign adequation = adequation | plus: adequation_for_model %}
{% endfor %}

<div class="text-center">
  <div>
    <p class="badge badge-primary text-uppercase mb-2">
      Adéquation {{ adequation | round: 2 }}
    </p>
  </div>
</div>

<canvas id="chart-adequation-{{ slug }}"></canvas>
<script>
  window.addEventListener('load', function () {
    new Chart('chart-adequation-{{ slug }}', {
      type: 'radar',
      data: {
        labels: {{ labels | jsonify }},
        datasets: [{
          data: {{ values | jsonify }},
          backgroundColor: '000000',
          borderColor: '000000'
        }]
      },
      options: {
        responsive: true,
        legend: {
          display: false
        },
        tooltips: {
          enabled: false
        },
        scale: {
          ticks: {
            min: 0,
            max: 1
          }
        }
      }
    });
  });
</script>
