<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="{{page.description}}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="text-center">
      <a class="navbar-brand" href="/">Stasis</a><br>
      <ul class="nav d-flex justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="/models">Modèles</a></li>
        <li class="nav-item"><a class="nav-link" href="/verbatims">Verbatims</a></li>
      </ul>
    </nav>
    <main class="container flex-shrink-0 mt-5 mb-5">
      {{ content}}
    </main>
    <footer class="footer mt-auto">
      <div class="container text-center small">
        Un <a href="https://github.com/arnaudlevy/stasis" target="_blank" rel="noreferrer">projet Open Source</a>
        conçu et développé par <a href="https://arnaudlevy.com" target="_blank" rel="noreferrer">Arnaud&nbsp;Levy</a>
        sous la direction de <a href="https://mica.u-bordeaux-montaigne.fr/rouissi-soufiane/" target="_blank" rel="noreferrer">Soufiane Rouissi</a>.
        Typographie <a href="https://www.atipofoundry.com/fonts/knile" target="_blank" rel="noreferrer">Knile (extralight & black)</a>
        créée par la fonderie <a href="https://www.atipofoundry.com/" target="_blank" rel="noreferrer">Atipo</a>.
      </div>
    </footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
