---
layout: default
---
<h1 class="mb-3">{{ page.title }}</h1>
<div class="row">
  <div class="offset-md-3 col-md-6">
    <p class="small text-center">
      Source: {{ page.source }}
    </p>
  </div>
</div>

<div class="row mt-5">
{% for verbatim in site.data.verbatims %}
  {% assign values = verbatim.models[page.slug] | split: ' ' %}
  <div class="col-md-6 mt-5">
    <canvas id="chart-{{verbatim.slug}}" height="200" class="mt-4"></canvas>
    <script>
      new Chart('chart-{{verbatim.slug}}', {
        type: 'radar',
        responsive: true,
        data: {
          labels: {{ page.variables | map: 'short' | jsonify }},
          datasets: [{
            data: [{{ values | join: ', ' }}],
            backgroundColor: '000000',
            borderColor: '000000'
          }]
        },
        options: {
          legend: {
            display: false
          },
          tooltips: {
            enabled: false
          },
          scale: {
            ticks: {
              min: 0,
              max: 2,
              stepSize: 1
            }
          }
        }
      });
    </script>
    <h2 class="text-center mt-3">
      <a href="/verbatims/{{verbatim.slug}}">
        {{ verbatim.title }}
      </a>
    </h2>
    {% include table.html variables=page.variables values=values %}
  </div>
{% endfor %}
</div>
