---
layout: default
---

<header>
  {% include verbatim-badge.html slug=page.slug %}
  <h1>{{page.title}}</h1>
</header>

{% include model/badge.html value='2' %}
<div class="card-columns card-columns--2 mt-4">
  {% for model in site.data.models %}
    {% assign values = page.models[model.slug] | split: ' ' %}
    {% for variable in model.variables %}
      {% assign value = values[forloop.index0] %}
        {% if value == '2' %}
          <div class="card m-0 border-0">
            <h2>{{ variable.long }}</h2>
            <p class="small"><b>{{ variable.short }}</b> • <a href="/models/{{model.slug}}">{{ model.title }}</a></p>
            <hr class="mt-4">
          </div>
        {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<div class="mt-5">
  {% include model/badge.html value='1' %}
  <div class="card-columns card-columns--3 mt-4">
  {% for model in site.data.models %}
    {% assign values = page.models[model.slug] | split: ' ' %}
    {% for variable in model.variables %}
      {% assign value = values[forloop.index0] %}
      {% if value == '1' %}
        <div class="card m-0 border-0">
          <p>{{ variable.long }}</p>
          <p class="small"><b>{{ variable.short }}</b> • <a href="/models/{{model.slug}}">{{ model.title }}</a></p>
          <hr>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>

<div class="row mt-5">
{% for model in site.data.models %}
  {% assign values = page.models[model.slug] | split: ' ' %}
  <div class="col-md-4 mt-5">
    <canvas id="chart-{{model.slug}}" height="200"></canvas>
    <script>
      window.addEventListener('load', function () {
        new Chart('chart-{{model.slug}}', {
          type: 'radar',
          responsive: true,
          data: {
            labels: {{ model.variables | map: 'short' | jsonify }},
            datasets: [{
              data: [{{ values | join: ', ' }}],
              backgroundColor: '000000',
              borderColor: '000000'
            }]
          },
          options: {
            legend: {
              display: false
            },
            tooltips: {
              enabled: false
            },
            scale: {
              ticks: {
                min: 0,
                max: 2,
                stepSize: 1
              }
            }
          }
        });
      });
    </script>
    <h2 class="text-center mt-3">
      <a href="/models/{{model.slug}}">
        {{ model.title }}
      </a>
    </h2>
    {% include  table.html
                variables=model.variables
                values=values
                id=model.slug %}
  </div>
{% endfor %}
</div>
